body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr, td {
  text-align: center;
}

.home-background {
  background-image: url("./pages/Produtos/background.jpg");
  background-size: 100% auto;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  height: 50vh;
}

.home-background h1 {
  font-family: "Your Font", sans-serif;
  font-size: 48px;
  color: #fff;
  padding: 30px;
}

.home-background h4 {
  font-family: "Your Font", sans-serif;
  font-size: 24px;
  color: #fff;
  background-color: rgba(63, 63, 63, 0.418);
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 180px;
}

.home-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-product-card {
  width: 18rem;
  margin: 5px;
}

.image-card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.icon-container {
  max-width: 100%;
}

.icons{
  width: 100px;
  height: 100px;
  background-color: rgba(37, 37, 37, 0.3) !important;
  border: none !important;
  padding: 10px;
  margin: 10px 10px 30px 10px;
}

.bold-text {
  font-weight: bold;
}

/* gap between links */
.reference-links {
  display: flex;
  gap: 5px; 
}

/* cut text because it's too long */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.truncate-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

